asgiref==3.8.1
dj-database-url==2.3.0
Django==5.1.5
django-allauth==65.3.1
django-crispy-forms==2.3
django-filter==24.3
django-heroku==0.3.1
gunicorn==23.0.0
import-export==0.3.1
mysql-connector-python==9.2.0
packaging==24.2
pillow==11.1.0
psycopg2==2.9.10
psycopg2-binary==2.9.10
PyMySQL==1.1.1
python-dotenv==1.0.1
pytz==2024.2
setuptools==75.8.0
sqlparse==0.5.3
typing_extensions==4.12.2
whitenoise==6.8.2
