asgiref==3.8.1
diff-match-patch==20241021
dj-database-url==2.3.0
Django==5.1.5
django-allauth==65.3.1
django-crispy-forms==2.3
django-filter==24.3
django-heroku==0.3.1
django-import-export==4.3.5
django-pandas==0.6.7
django-widgets-improved==1.5.0
gunicorn==23.0.0
import-export==0.3.1
mysql-connector-python==9.2.0
numpy==2.2.2
packaging==24.2
pandas==2.2.3
pillow==11.1.0
psycopg2==2.9.10
psycopg2-binary==2.9.10
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
setuptools==75.8.0
six==1.17.0
sqlparse==0.5.3
tablib==3.8.0
typing_extensions==4.12.2
tzdata==2025.1
whitenoise==6.8.2
