{% extends 'base.html' %}
{% load static %}
{% block nav %}
                <div class="container">
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'kakeibo:payment_list'%}">支出</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'kakeibo:income_list'%}">
                          収入
                        </a>
                      </li>
              
                      <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'kakeibo:monthly_balance' now_year now_month%}">
                          <i class="fas fa-chart-pie"></i>
                          月間バランス
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'kakeibo:balance_transition' %}">
                          <i class="fas fa-chart-line"></i>
                          バランス推移
                        </a>
                      </li>
                      {% endblock %}
{% block content %}
<form id="search-form" action="" method="GET">
  <div class="row">
    <div class="col-md-2">
      <label class="form-label" for="id_graph_visible">Graph Choice</label>
      {{ search_form.graph_visible }}
    </div>
    {% if search_form.cleaned_data.graph_visible != 'Income' %}
    <div class="col-md-2">
      <label class="form-label" for="id_payment_category">Payment Category</label>
      {{ search_form.payment_category }}
    </div>
    {% endif %}
    {% if search_form.cleaned_data.graph_visible != 'Payment' %}
    <div class="col-md-2">
      <label class="form-label" for="id_income_category">Income Category</label>
      {{ search_form.income_category }}
    </div>
    {% endif %}
  </div>
</form>

<div class="card border border-primary shadow-0 h-100 mt-4">
  <div class="card-body">
    <canvas id="lineChart" height="100"></canvas>
  </div>
</div>

{% endblock %}
{% block extrajs %}
<script src="{% static 'transitionSearch.js' %}"></script>
{% include "cdn_chartjs.html" %}
{% include "chart_balance_transition.html" %}
{% endblock %}
