{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

{% block content %}
<div class="hero2 vh-100 d-flex align-items-center" id="home">
    <div class="container" mt-3>
     <div class="row">
       <div class="col-lg7 mx-auto text-center">
         <h1 class="display-4 text-white">幼虫管理リスト</h1>
         <p class="text-white my-3">
           {{ user }}さん！幼虫の種類を記録して、思い出に浸ろう！
         </p>
         <a href="{% url 'child:child_create' %}" class="btn btn-primary me-2">幼虫を記録！</a>
     </div>
     </div>
     
   </div>
 </div>

<section id="blog" class="bg-light">
  <div class="container">
    <div class="row mb-4 ">
      <div class="col-md-8 mx-auto text-center">
        <h2 class="text-primary">幼虫記録一覧</h2>
      </div>
      <form method="GET" action="{% url 'child:child_search' %}">
        <input type="text" name="query1" id="id_query1" placeholder="検索">
        <button type="submit">検索</button>
      <div class="row g-4">

      {% for item in obj %}
        <div class="col-md-4">
          <div class="blog-card card-effect">
            {% if item.image %}
            <img src="{{ item.image.url }}" alt="">
            {% endif %}
            <h3 class="mb-0 mt-4"><a href="{% url 'child:child_detail' item.pk %}">{{ item.name }}</a></h3>
            <p>{{ item.get_gender_display }}</p>
            <p>{{ item.size }}</p>
            <a href="{% url 'child:child_update' item.pk %}" class="btn btn-succes " role="button" aria-disabled="true">編集</a>
            <a href="{% url 'child:child_delete' item.pk %}" class="btn btn-primary " role="button" aria-disabled="true">削除</a>
            <a href="{% url 'child:child_detail' item.pk %}" class="btn btn-info " role="button" aria-disabled="true">詳細</a>

            <a href="{% url 'adult:adult_detail' item.pk %}" class="btn btn-info " role="button" aria-disabled="true">種親情報</a>

          </div>
          
        </div>
        {% endfor %}
      
      </div>

    </div>
  </div>
</section>


{% endblock %}

{% block extrajs %}



{% endblock %}